BasedOnStyle: LLVM
Standard: Cpp03
IndentWidth: 4
UseTab: ForIndentation
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: false
BreakBeforeTernaryOperators: true
ColumnLimit: 100
BreakBeforeBraces: GNU   
IndentCaseLabels: true
NamespaceIndentation: All
Cpp11BracedListStyle: true
SpaceBeforeParens: Always
AlignAfterOpenBracket: true
SpaceBeforeParens: Never
ContinuationIndentWidth: 4
AccessModifierOffset: 4